{% extends "partials/layout.html" %}
    {% block header %}
        {% include "partials/header.html" %}
    {% endblock header %}
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breaking News Area Start ##### -->
    {% block breaking_news %}
        {% include "partials/breaking_news.html" %}

    {% endblock breaking_news %}
    <!-- ##### Breaking News Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
     {% block hero_area %}
         {% include "partials/hero_area.html" %}

     {% endblock hero_area %}
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Intro News Area Start ##### -->
    {% block all_news %}
        {% include "partials/all_news.html" %}

    {% endblock all_news %}
    <!-- ##### Intro News Area End ##### -->

    <!-- ##### Video Area Start ##### -->
    {% block video %}
        {% include "partials/video.html" %}

    {% endblock video %}
    <!-- ##### Video Area End ##### -->

    <!-- ##### Top News Area Start ##### -->
    {% block top_news %}
        {% include "partials/top_news.html" %}

    {% endblock top_news %}
    <!-- ##### Top News Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    {% block footer %}
        {% include "partials/footer.html" %}

    {% endblock footer %}
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    {% block scripts %}
        {% include "partials/scripts.html" %}

    {% endblock scripts %}
</body>

</html>